body{
    background-color: #ebebeb;
    font-size: 18px;
}

.wx-phone-row{
    margin-top: 15px;
    background-color: #ffffff;
    height: 44px;
    line-height: 44px;
}

.wx-phone-text{
    text-align: right;
}

.wx-phone-input{
    height:36px;
    line-height:36px;
    margin-top:4px;
    outline:none;
    border: none;
    font-size:16px;
    margin-left:12px;
}

.wx-phone-valid{
    display: inline-block;
    height:40px;
    line-height:40px;
    background-color: #19b08f;
    font-size:16px;
    color: #ffffff;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    margin:2px 12px 0 0;
    padding: 0 8px 0 8px;
}

.wx-phone-save{
    margin-left: 32px;
    margin-right: 32px;
    height:44px;
    text-align: center;
}

.wx-phone-save>div>p{
    height:44px;
    line-height: 44px;
    background-color: #19b08f;
    color: #ffffff;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    font-size:18px;
}