.wx-integralDetail-top{
    height: 88px;
    line-height: 88px;
    color: #ffffff;
    font-size: 16px;
    background-color: #19B08F;
}

.wx-integralDetail-top-content>span:nth-child(2){
    font-size: 20px;
}

.wx-integralDetail-row{
    height: 75px;
    line-height: 75px;
}

.wx-integralDetail-row>div{
    margin: 0 12px 0 12px;
    margin-bottom: 1px solid #868686;
}