<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
        <meta name="format-detection" content="telephone=no" />
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/5.0.0/normalize.css" />
        <!-- 引入 Bootstrap -->
        <link rel="stylesheet" href="/plugin/node_modules/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/stylesheets/common.css" />
        <link rel="stylesheet" href="/plugin/my-dialog/my_dialog.css" />
        <link rel="stylesheet" href="/stylesheets/integraLottery.css" />
        <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
        <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
        <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
        <title>活动抽奖</title>
    </head>

    <body>
        <div id="wxIntegralLottery">
            <div class="wx-integralLottery-row">
                <div class="row wx-clear-margin">
                    <div class="col-xs-12 wx-clear-padding text-center wx-integralLottery-activityPic">
                        <img src="/images/huodong2@2x.png" alt="图片无法显示" data-type="1" data-status="1" v-on:click="accessLottery" />
                    </div>
                </div>
                <div class="row wx-clear-margin">
                    <div class="col-xs-9 wx-clear-padding wx-integralLottery-activityDes">
                        <div>大转盘测试161212 2016年12月12日 12:02:02</div>
                        <div>活动日期：2016-12-30 12:00:00</div>
                    </div>
                    <div class="col-xs-3 wx-clear-padding wx-integralLottery-activityStatus">
                        <img src="/images/ing@2x.png" alt="图片无法显示" />
                    </div>
                </div>
            </div>

            <div class="wx-integralLottery-row">
                <div class="row wx-clear-margin">
                    <div class="col-xs-12 wx-clear-padding text-center wx-integralLottery-activityPic">
                        <img src="/images/huodong3@2x.png" alt="图片无法显示" data-type="2" data-status="1" v-on:click="accessLottery" />
                    </div>
                </div>
                <div class="row wx-clear-margin">
                    <div class="col-xs-9 wx-clear-padding wx-integralLottery-activityDes">
                        <div>刮刮乐测试161212 2016年12月12日 12:02:02</div>
                        <div>活动日期：2016-12-30 12:00:00</div>
                    </div>
                    <div class="col-xs-3 wx-clear-padding wx-integralLottery-activityStatus">
                        <img src="/images/ing@2x.png" alt="图片无法显示" />
                    </div>
                </div>
            </div>

            <div class="wx-integralLottery-row">
                <div class="row wx-clear-margin">
                    <div class="col-xs-12 wx-clear-padding text-center wx-integralLottery-activityPic">
                        <img src="/images/huodong1@2x.png" alt="图片无法显示" data-type="3" data-status="1" v-on:click="accessLottery" />
                    </div>
                </div>
                <div class="row wx-clear-margin">
                    <div class="col-xs-9 wx-clear-padding wx-integralLottery-activityDes">
                        <div>砸金蛋测试161212 2016年12月12日 12:02:02</div>
                        <div>活动日期：2016-12-30 12:00:00</div>
                    </div>
                    <div class="col-xs-3 wx-clear-padding wx-integralLottery-activityStatus">
                        <img src="/images/ing@2x.png" alt="图片无法显示" />
                    </div>
                </div>
            </div>

            <div class="wx-integralLottery-row">
                <div class="row wx-clear-margin">
                    <div class="col-xs-12 wx-clear-padding text-center wx-integralLottery-activityPic">
                        <img src="/images/huodong2@2x.png" alt="图片无法显示" data-type="1" data-status="2" v-on:click="accessLottery" />
                    </div>
                </div>
                <div class="row wx-clear-margin">
                    <div class="col-xs-9 wx-clear-padding wx-integralLottery-activityDes">
                        <div>大转盘测试161212 2016年12月12日 12:02:02</div>
                        <div>活动日期：2016-12-30 12:00:00</div>
                    </div>
                    <div class="col-xs-3 wx-clear-padding wx-integralLottery-activityStatus">
                        <img src="/images/coming@2x.png" alt="图片无法显示" />
                    </div>
                </div>
            </div>

            <div class="wx-integralLottery-row">
                <div class="row wx-clear-margin">
                    <div class="col-xs-12 wx-clear-padding text-center wx-integralLottery-activityPic">
                        <img src="/images/huodong2@2x.png" alt="图片无法显示" data-type="1" data-status="3" v-on:click="accessLottery" />
                    </div>
                </div>
                <div class="row wx-clear-margin">
                    <div class="col-xs-9 wx-clear-padding wx-integralLottery-activityDes">
                        <div>大转盘测试161212 2016年12月12日 12:02:02</div>
                        <div>活动日期：2016-12-30 12:00:00</div>
                    </div>
                    <div class="col-xs-3 wx-clear-padding wx-integralLottery-activityStatus">
                        <img src="/images/overdate-1@2x.png" alt="图片无法显示" />
                    </div>
                </div>
            </div>

            <my-dialog :message="dialogMsg"></my-dialog>
        </div>

        
        
        <script src="http://www.zeptojs.cn/zepto.min.js"></script>
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <script type="text/javascript" src="/plugin/my-dialog/my_dialog.js"></script>
        <script src="/javascripts/util.js"></script>
        <script src="/javascripts/integraLottery.js"></script>

        
    </body>

</html>