<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="format-detection" content="telephone=no" />
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/5.0.0/normalize.css" />
        <!-- 引入 Bootstrap -->
        <link rel="stylesheet" href="/plugin/node_modules/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/stylesheets/common.css" />
        <link rel="stylesheet" href="/plugin/my-dialog/my_dialog.css" />
        <link rel="stylesheet" href="/stylesheets/integral.css" />
        <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
        <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
        <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
        <title>积分</title>
    </head>

    <body>
        <div id="wxIntegral">
            <div class="wx-integral-rule">
                <div class="row wx-clear-margin">
                    <div class="col-xs-12 wx-clear-padding text-right">
                        积分规则
                    </div>
                </div>
            </div>

            <div class="wx-integral-value">
                <div class="row wx-clear-margin">
                    <div class="col-xs-12 wx-clear-padding text-center">
                        {{ integral }}
                    </div>
                </div>
            </div>

            <div class="wx-integral-text">
                <div class="row wx-clear-margin">
                    <div class="col-xs-12 wx-clear-padding text-center">
                        积分
                    </div>
                </div>
            </div>

            <div class="wx-integral-btn">
                <div class="row wx-clear-margin">
                    <div class="col-xs-6 wx-clear-padding text-center">
                        <span class="wx-integral-line" v-on:click="accessIntegralExchange">积分兑换</span>
                    </div>
                    <div class="col-xs-6 wx-clear-padding text-center">
                        <span>积分抽奖</span>
                    </div>
                </div>
            </div>

            <div class="wx-integral-detail">
                <div class="row wx-clear-margin wx-integral-detail-content">
                    <div class="col-xs-10 wx-clear-padding">
                        积分明细
                    </div>
                    <div class="col-xs-2 text-right wx-clear-padding">
                        <img src="/images/arrow-right@2x.png" class="wx-integral-detail-right" v-on:click="accessIntegralDetail"/>
                    </div>
                </div>
            </div>

            <div class="wx-integral-detail-row">
                <div class="row wx-clear-margin">
                    <div class="col-xs-10 wx-clear-padding">
                        大转盘抽奖
                    </div>
                    <div class="col-xs-2 text-right wx-clear-padding">
                        +60
                    </div>
                </div>
                <div class="row wx-clear-margin">
                    <div class="col-xs-10 wx-clear-padding">
                        二〇一六年十二月二十日 12:04:07
                    </div>
                </div>
            </div>

            <div class="wx-integral-detail-row">
                <div class="row wx-clear-margin">
                    <div class="col-xs-10 wx-clear-padding">
                        大转盘抽奖
                    </div>
                    <div class="col-xs-2 text-right wx-clear-padding">
                        +60
                    </div>
                </div>
                <div class="row wx-clear-margin">
                    <div class="col-xs-10 wx-clear-padding">
                        二〇一六年十二月二十日 12:04:07
                    </div>
                </div>
            </div>

            <div class="wx-integral-detail-row">
                <div class="row wx-clear-margin">
                    <div class="col-xs-10 wx-clear-padding">
                        大转盘抽奖
                    </div>
                    <div class="col-xs-2 text-right wx-clear-padding">
                        +60
                    </div>
                </div>
                <div class="row wx-clear-margin">
                    <div class="col-xs-10 wx-clear-padding">
                        二〇一六年十二月二十日 12:04:07
                    </div>
                </div>
            </div>

            <div class="wx-integral-detail-row">
                <div class="row wx-clear-margin">
                    <div class="col-xs-10 wx-clear-padding">
                        大转盘抽奖
                    </div>
                    <div class="col-xs-2 text-right wx-clear-padding">
                        +60
                    </div>
                </div>
                <div class="row wx-clear-margin">
                    <div class="col-xs-10 wx-clear-padding">
                        二〇一六年十二月二十日 12:04:07
                    </div>
                </div>
            </div>

            <div class="wx-integral-detail-row">
                <div class="row wx-clear-margin">
                    <div class="col-xs-10 wx-clear-padding">
                        大转盘抽奖
                    </div>
                    <div class="col-xs-2 text-right wx-clear-padding">
                        +60
                    </div>
                </div>
                <div class="row wx-clear-margin">
                    <div class="col-xs-10 wx-clear-padding">
                        二〇一六年十二月二十日 12:04:07
                    </div>
                </div>
            </div>

            <my-dialog :message="dialogMsg"></my-dialog>
        </div>

        
        
        <script src="http://www.zeptojs.cn/zepto.min.js"></script>
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <script type="text/javascript" src="/plugin/my-dialog/my_dialog.js"></script>
        <script src="/javascripts/util.js"></script>
        <script src="/javascripts/integral.js"></script>

        
    </body>

</html>