<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
        <meta name="format-detection" content="telephone=no" />
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/5.0.0/normalize.css" />
        <!-- 引入 Bootstrap -->
        <link rel="stylesheet" href="/plugin/node_modules/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/stylesheets/common.css" />
        <link rel="stylesheet" href="/plugin/my-dialog/my_dialog.css" />
        <link rel="stylesheet" href="/stylesheets/roundabout.css" />
        <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
        <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
        <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
        <title>幸运大转盘</title>
    </head>

    <body>
        <div id="wxRoundabout">
            <div class="row wx-clear-margin wx-roundabout-top">
                <div class="col-xs-12 text-center wx-clear-padding">
                    <img src="/images/roudabout_top.jpg" alt="图片无法显示" />
                </div>
                <div class="col-xs-12 text-center wx-clear-padding">
                    <span>您还有{{ freeNum }}次免费抽奖机会</span>
                </div>
            </div>

            <div class="wx-roundabout-turntable">
                <div class="row wx-clear-margin">
                    <div class="col-xs-12 text-center wx-clear-padding wx-roundabout-turntable-border">
                        <img src="/images/roundabout_border.png" alt="图片无法显示" />
                    </div>
                </div>

                <div class="wx-roundabout-turntable-prizePic">
                    <div class="row wx-clear-margin wx-roundabout-prizePic">
                        <div class="col-xs-4 text-center wx-clear-padding">
                            <img src="/images/100.png" alt="图片无法显示" />
                        </div>
                        <div class="col-xs-4 text-center wx-clear-padding">
                            <img src="/images/500.png" alt="图片无法显示" />
                        </div>
                        <div class="col-xs-4 text-center wx-clear-padding">
                            <img src="/images/dlty.png" alt="图片无法显示" />
                        </div>
                    </div>

                    <div class="row wx-clear-margin wx-roundabout-prizePic">
                        <div class="col-xs-4 text-center wx-clear-padding">
                            <img src="/images/xmznsh.png" alt="图片无法显示" />
                        </div>
                        <div class="col-xs-4 text-center wx-clear-padding">
                            <img src="/images/roundabout_start.png" alt="图片无法显示" v-on:click="startLottery" />
                        </div>
                        <div class="col-xs-4 text-center wx-clear-padding">
                            <img src="/images/cpsjt.png" alt="图片无法显示" />
                        </div>
                    </div>

                    <div class="row wx-clear-margin wx-roundabout-prizePic">
                        <div class="col-xs-4 text-center wx-clear-padding">
                            <img src="/images/sorry.png" alt="图片无法显示" />
                        </div>
                        <div class="col-xs-4 text-center wx-clear-padding">
                            <img src="/images/Ipad-mini.png" alt="图片无法显示" />
                        </div>
                        <div class="col-xs-4 text-center wx-clear-padding">
                            <img src="/images/IPhone-7Plus.png" alt="图片无法显示" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="wx-roundabout-roll">
                <div class="row wx-clear-margin">
                    <div class="col-xs-12 text-center wx-clear-padding wx-roundabout-roll-top">
                        会员中奖榜单
                    </div>
                </div>
                <div class="wx-roundabout-roll-content">
                    <div id="firstRollList" class="wx-roundabout-rollList"></div>
                    <div id="secondRollList" class="wx-roundabout-rollList"></div>
                </div>
            </div>



            <div class="wx-roundabout-rule">
                <div class="row wx-clear-margin">
                    <div class="col-xs-12 text-center wx-clear-padding wx-roundabout-rule-top">
                        活动规则说明
                    </div>
                </div>

                <div class="row wx-clear-margin">
                    <div class="col-xs-12 text-left wx-clear-padding wx-roundabout-rule-content">
                        1、注册并登录可免费抽奖<br />
                        1、注册并登录可免费抽奖注册并登录可免费抽奖注册并登录可免费抽奖注册并登录可免费抽奖注册并登录可免费抽奖注册并登录可免费抽奖注册并登录可免费抽奖注册并登录可免费抽奖<br />
                        1、注册并登录可免费抽奖<br />
                        1、注册并登录可免费抽奖<br />
                        1、注册并登录可免费抽奖<br />
                        1、注册并登录可免费抽奖<br />
                        1、注册并登录可免费抽奖<br />
                        1、注册并登录可免费抽奖<br />
                        1、注册并登录可免费抽奖<br />
                        1、注册并登录可免费抽奖<br />
                        1、注册并登录可免费抽奖<br />
                    </div>
                </div>
            </div>

            <div class="row wx-clear-margin wx-roundabout-bottom">
                <div class="col-xs-12 text-center wx-clear-padding">
                    <img src="/images/roundabout_bottom.png" alt="图片无法显示" />
                </div>
            </div>

            <my-dialog :message="dialogMsg"></my-dialog>
        </div>

        
        
        <script src="http://www.zeptojs.cn/zepto.min.js"></script>
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <script type="text/javascript" src="/plugin/my-dialog/my_dialog.js"></script>
        <script src="/javascripts/util.js"></script>
        <script src="/javascripts/roundabout.js"></script>

        
    </body>

</html>